<h1>Viewing this post</h1>

<%= link_to "Back to posts", posts_path, class: "btn btn-large btn-primary" %>

<div class="container">
  <%= render partial: "posts/post", locals: { post: @post, like: @like } %>
</div>

<h2>Comments</h2>

<p>all your lovely words</p>

<button 
  hx-get="<%= new_post_comment_path(@post) %>"
  hx-target="#modals" 
  hx-trigger="click" 
  data-bs-toggle="modal" 
  data-bs-target="#modals"
  class="btn btn-primary">
  New Comment
</button>

<% if @post.comments %>
  <ul class="w-100 list-group list-group-flush">
    <%= render @post.comments %>
  </ul>
<% end %>

